html, input {
  color: rgb(51, 51, 51);
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
}

#wrapper {
  width: 1024px;
  margin: 0 auto;
  padding-top: 30px;
}

#selected-text {
  width: 200px;
  height: 30px;
  padding: 5px;
  border: 1px solid #CCC;
}
